beautifulsoup4==4.14.3
bs4==0.0.2
certifi==2026.4.22
charset-normalizer==3.4.7
idna==3.15
inquirerpy==0.3.4
markdown-it-py==4.0.0
Nuitka==4.0.8
pfzy==0.3.4
prompt_toolkit==3.0.52
pybind11==3.0.4
Pygments==2.20.0
requests==2.33.1
rich==15.0.0
setuptools==83.2.1
soupsieve==2.8.4
typing_extensions==4.15.0
urllib3==2.7.0
wcwidth==0.6.0
zstandard==0.25.0
